<!DOCTYPE html>
<html lang="en">
<head>
    <meta charsets="UTF-8">
    <title>Dealership Review-Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" hrefs="#">Best Cars Dealership</a> &#9881; <a href="https://filipmitich-8000.theiadocker-2-labs-prod-theiak8s-4-tor01.proxy.cognitiveclass.ai/djangoapp/about/">About Us</a>
            </div>
        </div>
    </nav>

<div class="container">
    <h3>You have questions? You can contact here us anytime!</h3>
    <p>E-mail: best.cars@bcars.com<br>Phone:  +49 0167 3452 553</p>
</div>